{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/style/jquery.Jcrop.min.css') }}" rel="stylesheet">
{% endblock %}

{% block contenido %}
    <div>
        <div>

            {{ form_widget(form) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

</div>
<div class="flex-cropbox">
    <div id="cropbox">
        <div class="img-container">
            <img id="crop-image" src="#" alt="crop-img">
        </div>
        <div class="crop-buttons">
            <button id="aceptar-crop-btn">Recortar</button>
            <button id="cancelar-crop-btn">Cancelar</button>
        </div>
    </div>
</div>

{% endblock %}

    {% block js_especifico %}
        <script src="{{ asset('assets/js/jquery.color.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.Jcrop.min.js') }}"></script>
        <script src="{{ asset('assets/js/crop.js') }}"></script>
    {% endblock %}