{% extends "base.html.twig" %}
{% block contenido %}
    <div id ="perfil">
        <div>
            <div>
                <div>
                    {#                    {{ usuario.img }}#}
                    {#                    <img src ="{{ usuario.img }}" alt ="imagen de perfil de {{usuario.username}}">#}
                    <img src="{{ asset(usuario.img) }}" alt="imagen de perfil de {{usuario.username}}">
                </div>
                <div>
                    <div>
                        <h1>{{ usuario.username }}</h1>
                        <a href="{{path('editar_usuario',{'id':usuario.id})}}">Editar</a>
                    </div>
                    <div>
                        <a href="{{path("nuevoProyecto")}}">Empezar un nuevo proyecto
                            <input type="button"></a>
                    </div>
                </div>
            </div>

            <div class="respuestas collapsible" data-limit="3" id="all-proj">
                {% for proyecto in usuario.proyectos %}
                    <div class="proj collapsible-element proj-perfil " >
                        {#                  primera parte            #}
                        <div>

                            <div>
                                <img src="{{ asset(proyecto.img) }}" alt="imagen del proyecto {{proyecto.titulo}}">
                            </div>
                            <div>
                                <div>
                                    <a><img src="{{ asset('assets/images/lapiz.png') }}" alt="editar proyecro"></a>
                                </div>
                                <h1><a href="{{path('proyecto',{'id':proyecto.id})}}">{{proyecto.titulo}}</a></h1>
                                <p>{{proyecto.descripcion}}</p>
                                <div>{{proyecto.fechaCreacion|date("d-m-Y")}}</div>
                            </div>
                        </div>
                        <a href="#" class="edit"><i class="fa fa-edit fa-3x"></i></a>
                    </div>
                {% endfor %}
                <button class="vermas-btn">Ver más +</button>
            </div>
            <div>
                <div class="respuestas collapsible" data-limit="3" >
                    {% for actividad in usuario.actividades %}
                        <div class = "collapsible-element actividad">
                            <div>
                                <img src="{{ asset(usuario.img) }}" alt="">
                            </div>
                            <div>
                                <div>{{ actividad.fecha|date('d/m/y') }}</div>
                                <div>{{ actividad.actividad}} {{actividad.proyecto.titulo}}</div>

                            </div>
                        </div>
                    {% endfor %}

                    <button class="vermas-btn">Ver más +</button>   
                </div>
            </div>
        </div>
    </div>
{% endblock %}