{% extends "base.html.twig" %}
{% block contenido %}
    
            <div class="steps ">
                <!-- Maquetacion para a単adir las situaciones de un proyecto falta a単adir el bucle For -->
                {% for seguimiento in proyecto.seguimientos %}
                    <div class="step"><span class="arrowB"></span>{{seguimiento.situacion}}<span class="arrow"></span></div>
                {% endfor %}
                
                <form action="{{path("addseguimiento",{'id':proyecto.id})}}" id="stepInput" method="POST">
                    <div class="step"><span class="arrowB"></span><input type="text" class="emptyInput" name="seguimiento"><span class="arrow"></span></div>
                    <input type="submit" value="enviar FEO"/>
                </form>
            </div>
    <div id="editarProjecto">
        <div>
            {{ form_start(form,{'class':'dropzone'}) }}
            <div>
                {{form_widget(form.titulo)}}
            </div>
            {% if proyecto.img %}
                <div class ="imgProjec" id ="editImg">
                    <img src="{{proyecto.img}}" alt="">
                    {{form_widget(form.img)}}
                </div>
            {% else %}
                <div>
                    {{form_widget(form.img)}}
                </div>
            {%endif%}
            
            <div>
                {{form_widget(form.descripcion)}}
                {{form_widget(form.contenido)}} 
            </div>
            <div>
                {{form_widget(form.meta)}}
                <output id ="rangeEditar" for="foo" onforminput="value = foo.valueAsNumber;"></output>
            </div>
            <div>
                {{form_widget(form.iban)}}
            </div>
            <div>
                {{form_widget(form.etiquetas)}}
            </div>



            <div>
                <div>
                    <h1>colaboradores</h1>
                    {% for colaborador in proyecto.colaboradores%}
                        {% if colaborador.estado == 'aceptada' %}
                            <div class = "colaborador">
                                <div>
                                    <img src="{{ asset('assets/images/tesla.jpg') }}" alt="">
                                </div>
                                <div>
                                    <h2>
                                        {{ colaborador.usuario.nombre }}
                                    </h2>
                                </div>
                            </div>
                        {% elseif colaborador.estado == 'pendiente'%}   
                            <div class = "colaborador colaboradorDenegado">
                                <div>
                                    <img src="{{ asset('assets/images/tesla.jpg') }}" alt="">
                                </div>
                                <div>
                                    <h2>
                                        {{ colaborador.usuario.nombre }}
                                    </h2>
                                </div>
                            </div> 
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div>
                {{ form_end(form) }}
            </div>
        </div>

         <div>
             <h1>Proyecto</h1>
             {{ form_start(form) }}
             {{ form_widget(form) }}
             {{ form_rest(form) }}
             
        </div>
        <div>
            <div>
                <h1>Colaboradores</h1>
                <div></div>
            </div>

            <div>
                <h1>Zona de Peligro</h1>
                <div>
                    <h4>多Dejar de destacar este proyecto?</h4>
                    <a href="">Deja de destacar el proyecto.</a>
                    <h4>多Borrar este proyecto?</h4>
                    <a href="#" id="borrar-proyecto" name="{{proyecto.id}}">Borrar el proyecto</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block js_especifico %}
        <script src="{{ asset('/assets/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('/assets/js/proyecto.js') }}"></script>
        
    {% endblock %}
