{% extends 'base.html.twig' %}

{% block  contenido %}
    <div id ="blog">
        <div>
            <div class ="filter">
                <div>
                    <form id="buscar-form" action="/" method="GET">
                        <input id="buscar-input" type ="text" name="proyecto" />
                        <input type="submit">
                    </form>
                </div>
                <div>
                    <div>
                        <button>Por fecha</button>
                        <ul class  = "zoomIn animated ">
                            <li>
                                <a href="{{ path('filtraProyectos', {filtro: 'fechaCreacion', orden: 'asc'}) }}">De mas bajo a mas alto</a>
                            </li>
                            <li>
                                <a href="{{ path('filtraProyectos', {filtro: 'fechaCreacion', orden: 'desc'}) }}">De mas alto a mas bajo</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button>Por cantidad donada</button>
                        <ul class  = "zoomIn animated ">
                            <li>
                                <a href="{{ path('filtraProyectos', {filtro: 'donaciones', orden: 'asc'}) }}">De mas bajo a mas alto</a>
                            </li>
                            <li>
                                <a href="{{ path('filtraProyectos', {filtro: 'donaciones', orden: 'desc'}) }}">De mas alto a mas bajo</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button>Por valoracion</button>
                        <ul class  = "zoomIn animated ">
                            <li>
                                <a href="{{ path('filtraProyectos', {filtro: 'valoracion', orden: 'asc'}) }}">Mejor valorado</a>
                            </li>
                            <li>
                                <a href="{{ path('filtraProyectos', {filtro: 'valoracion', orden: 'desc'}) }}">Peor valorado</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% for proyecto in proyectos %}
                {% if  proyecto.img%}
                    <div class="proj tam">
                    {#                  primera parte            #}
                    <div>
                        <div>
                            <img src="{{ asset(proyecto.img) }}" alt="">
                        </div>
                        <div>
                            <div>

                            </div>
                            <h1><a href="{{path('proyecto',{'id':proyecto.id})}}">{{proyecto.titulo}}</a></h1>
                            <p>{{proyecto.descripcion}}</p>
                            <div class ="autor">
                                <h2><a href="{{path('usuario_perfil',{'id':proyecto.autor.id})}}">{{proyecto.autor.nombre}}</a> </h2>

                            </div>
                            <div class ="options">
                                <div>
                                    <a href="{{path('donar_proyecto',{'id':proyecto.id})}}">Ayudar</a>
                                </div>
                                <div><a class="colaborar-btn" data-proyectoid="{{ proyecto.id }}" href="#">Colaborar</a></div>
                                <div>{{proyecto.getRecaudado()}}€</div>
                            </div>
                            <div>{{proyecto.fechaCreacion|date("d-m-Y")}}</div>
                        </div>
                    </div>
                {% else %}
                    <div class="proj tam sinFotto">
                    {#                  primera parte            #}
                    <div>
                        <div>
                        </div>
                        <div>
                            <div>
                            </div>
                            <h1><a href="{{path('proyecto',{'id':proyecto.id})}}">{{proyecto.titulo}}</a></h1>
                            <p>{{proyecto.descripcion}}</p>
                            <div class ="autor">
                                <h2><a href="{{path('usuario_perfil',{'id':proyecto.autor.id})}}">{{proyecto.autor.nombre}}</a></h2>

                            </div>
                            <div class ="options">
                                <div>
                                    <a href="{{path('donar_proyecto',{'id':proyecto.id})}}">Ayudar</a>
                                </div>
                                <div><a class="colaborar-btn" data-proyectoid="{{ proyecto.id }}" href="#">Colaborar</a></div>
                                <div>{{proyecto.getRecaudado()}}€</div>
                            </div>
                            <div>{{proyecto.fechaCreacion|date("d-m-Y")}}</div>
                        </div>
                    </div>
                {%endif%}
                    {#       comentarios                 #}
                    <div class="test collapsible" data-limit="1">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class = "comm">
                                <div>
                                    <img src="{{ asset(app.user.img) }}" alt="">
                                </div>
                                {{ render(controller('App\\Controller\\CommentController::Comentar', { 'id': proyecto.id })) }}
                            </div>
                        {% endif %}
                        {% for comentario in proyecto.comentarios %}
                            <div class="collapsible-element">
                                <div id="comentario-{{ comentario.id }}" class="comm">
                                    <div>
                                        <img src="{{ asset(comentario.autor.img) }}" alt="">
                                    </div>
                                    <div>
                                        <div>
                                            {{comentario.autor.nombre}}
                                        </div>
                                        <div>
                                            <p> {{comentario.contenido}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <div class="responder">Responder</div>
                                        <div class ="respuesta">
                                            {{ render(controller('App\\Controller\\CommentController::responder', { 'id': comentario.id})) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="respuestas collapsible" data-limit="1">
                                    {% for respuesta in comentario.respuestas %}
                                        <div class="collapsible-element">
                                            <div id="triangulo">
                                            </div>
                                            <div class="comm res">
                                                <div>
                                                    <img src="{{ asset(respuesta.autor.img) }}" alt="">
                                                </div>
                                                <div>
                                                    <div>
                                                        {{respuesta.autor.nombre}}
                                                    </div>
                                                    <div>
                                                        <p> {{respuesta.contenido}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if comentario.respuestas|length > 1 %}
                                        <button class="vermas-btn">Ver más</button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        {#
                        <div>
                            <img src="{{ asset('assets/images/cancel.png') }}" class="closecomment" alt="cerrar comentarios">
                        </div>
                        #}
                        {% if proyecto.comentarios|length > 1 %}
                            <button class="vermas-btn">Ver más comentarios</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js_especifico %}
    <script>
        var searchForm = document.getElementById("buscar-form");
        var searchInput = document.getElementById("buscar-input");

        searchInput.onkeyup = function() {
            searchForm.action = '/proyectos/buscar/' + encodeURI(this.value);
        };

        searchForm.onsubmit = function(event) {
            event.preventDefault();
            window.location.href = this.action;
        };

        $('.colaborar-btn').on('click', function () {
            var proyectoId = this.dataset.proyectoid;
            var _url = '/proyecto/' + proyectoId + '/colaborar';
            var $this = $(this);


            $.ajax({
                url: _url,
                type: 'GET',
                dataType: 'JSON',
                success: function (data) {
                    if (data.peticion_envidada) {
                        $this.css('color', 'yellow');
                    } else {
                        $this.css('color', 'red');
                    }
                },
                error: function (data) {
                    console.log(data.responseJSON.error);
                    $this.css('color', 'red');
                }
            });

            return false;
        });
    </script>
{% endblock %}