{% extends "base.html.twig"%}
{% block contenido %}
    <div id ="nuevoProjecto">

        <div class="newProyect">
            <div class="form-progress">
                <progress class="form-progress-bar" min="0" max="100" value="0" step="33" aria-labelledby="form-progress-completion"></progress>
                <div class="form-progress-indicator one active"></div>
                <div class="form-progress-indicator two"></div>
                <div class="form-progress-indicator three"></div>
                <div class="form-progress-indicator four"></div>
                <div class="form-progress-indicator five"></div>
            </div>
            {{form_start(FormularioProyecto,{'action':path("nuevoProyecto")})}}
            <div>
                <div>
                    <h1>Felicidades estas a punto de empezar un nuevo proyecto que puede</h1>
                    <p>Muchísimas gracias por elegirnos para poder sacar adelante tu idea</p>
                    <p>¿Empezamos?</p>
                </div>
                <div>
                    <div>
                        <p>¿Que titulo quieres ponerle a tu proyecto?</p>
                        {{form_widget(FormularioProyecto.titulo)}}
                    </div>
                    <div>
                        <p>Describe tu idea con palabras cortas para poder buscarlo</p>
                        {{form_widget(FormularioProyecto.etiquetas)}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h1>Ahora que ya has pensado bien de que ira tu proyecto, ¿nos lo explicas?</h1>
                    <p>Esto será lo primero que lean los inversores así que piénsalo bien</p>
                </div>
                <div>
                    <div>
                        <p>Descripción completa del proyecto</p>
                        {{form_widget(FormularioProyecto.contenido)}}
                    </div>
                    <div>
                        <p>Facilitanos un pequeño resumen para poder ponerlo en el blog</p>
                        {{form_widget(FormularioProyecto.descripcion)}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h1>Esto está casi hecho, que te parece si eliges una foto para publicitar tu proyecto</h1>
                    <p>Cuanta más calidad tenga la imagen mejor quedara en tu blog</p>
                </div>
                <div>
                    <div>
                        {{form_widget(FormularioProyecto.img)}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h1>¿ Donde quieres que te agregamos los donativos de nuestros queridos patrocinadores ?</h1>
                </div>
                <div>
                    <div>
                        <p>puedes poner una aproximación de a que cantidad quieres llegar</p>
                        {{form_widget(FormularioProyecto.meta)}}
                        <output for="foo" onforminput="value = foo.valueAsNumber;"></output>
                    </div>
                    <div>
                        <p>5€<p>     
                        <p>10.000€</p>
                    </div>
                </div>
            </div>
            <div>
                <h1>¡FELICIDADES YA TIENES HAS CREADO TU PROYECTO!</h1>  
                {{form_end(FormularioProyecto)}}
                <p> Te queda lo más facil, dale a enviar y espera que aparezcan aportaciones y colaboradores</p>
                {{form_end(FormularioProyecto)}}
            </div>
            <div>
                <input type="button" id="previous" value="" name="0" />
                <input type="button" id="next" value="" name="0" />
            </div>
        </div>
    </div>      

{% endblock %}

{% block js_especifico %}
    <script src="{{ asset('/assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('/assets/js/proyecto.js') }}"></script>
{% endblock %}