{% extends 'base.html.twig' %}

{% block  contenido %}

    <div id ="project">
        <div>
            <div>
                <img src="{{ asset('assets/images/tesla.jpg') }}" alt="">
            </div>
            
            <div>
                <div>
                    <img id="no-megusta-btn" data-proyectoid="{{ proyecto.id }}" src="{{ asset('assets/images/pulgares-abajo-silueta.png') }}" alt="">
                    <img id="megusta-btn" data-proyectoid="{{ proyecto.id }}" src="{{ asset('assets/images/pulgar-hacia-arriba-simbolo-de-la-mano.png') }}" alt="">
                </div>
                <div class ="options">
                    <div>comentarios</div>
                    <div><a id="colaborar-btn" href="#" data-proyectoid="{{ proyecto.id }}">Colaborar</a></div>
                    <div>000,00$</div>
                </div>
            </div>
            
            <div>
                {{proyecto.fechaCreacion|date('d/m/Y')}}
            </div>
            <div>
                <h1>{{proyecto.titulo}}</h1>
            </div>
            <div class="steps ">
                <!-- Maquetacion para añadir las situaciones de un proyecto falta añadir el bucle For -->
                <div class="step faseactiva">
                    Situacion X
                </div>
                <div class="step">
                    Situacion X
                </div>
                <div class="step">
                    Situacion X
                </div>
                <div class="step">
                    Situacion X
                </div>
            </div>
            <div>
                {{proyecto.descripcion}}
            </div>
            <div>
                {% if app.user %}
                    {{ render(controller('App\\Controller\\CommentController::Comentar', { 'id': proyecto.id })) }}
                {% endif %}
            </div>
            <div id ="allcomentarios">
                <div>
                    {% for comentario in proyecto.comentarios %}
                        <div id="comentario-{{ comentario.id }}">
                            <div>
                                <img src="{{ asset('assets/images/tesla.jpg') }}" alt="">
                            </div>
                            <div>
                                <div>
                                    {{comentario.autor.nombre}}
                                </div>
                                <div>
                                    <p> {{comentario.contenido}}</p>
                                </div>
                                <div>
                                    {{ render(controller('App\\Controller\\CommentController::responder', { 'id': comentario.id })) }}
                                </div>
                                <div>
                                    {% for respuesta in comentario.respuestas %}
                                        <div >
                                            <div>
                                                <img src="{{ asset('assets/images/tesla.jpg') }}" alt="">
                                            </div>
                                            <div>
                                                <div>
                                                    {{respuesta.autor.nombre}}
                                                </div>
                                                <div>
                                                    <p> {{respuesta.contenido}}</p>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_especifico %}
    <script src="{{ asset('assets/js/proyecto.js') }}"></script>
    <script src="{{ asset('assets/js/emojionearea.js') }}"></script>
    <script type="text/javascript">
            $(document).ready(function() {
              $(".emojis").emojioneArea({
                
              });
            });
</script>
  </script>
{% endblock %}
