{% extends 'base.html.twig' %}

{% block  contenido %}
	{{proyecto.titulo}}
	{{proyecto.fechaCreacion|date('d/m/Y')}}
	{{proyecto.descripcion}}
        <a href="{{path("Colaborar",{"id":proyecto.id})}}">Colaborar</a>
        {% if app.user %}
            {{form_start(FormComentario,{'action':path('CommentarPro',{'id':proyecto.id})})}}
            {{form_widget(FormComentario)}}
            {{form_end(FormComentario)}}
        {% endif %}
	{% for comentario in proyecto.comentarios %}
		{{comentario.autor.nombre}}
		{{comentario.contenido}}
	{% endfor %}
{% endblock %}

