{% extends 'base.html.twig' %}

{% block  contenido %}
  
    <div id="project">
        <div>
            <div>
                <h1>{{proyecto.titulo}}</h1>
            </div>
            {% if proyecto.img %}
                <div class ="imgProjec">
                    <img src="{{proyecto.img}}" alt="">
                </div>
            {% else %}
                <div></div>
            {%endif%}
            <div>
                <div>
                    <button id="no-megusta-btn" class="valoracion-btn" data-proyectoid="{{ proyecto.id }}" data-valoracion="{{ (valoracion and valoracion.megusta == false) ? 1 : 0 }}">
                        <img src="{{ asset('assets/images/pulgares-abajo-silueta.png') }}" alt="">
                    </button>
                    <button id="megusta-btn" class="valoracion-btn" data-proyectoid="{{ proyecto.id }}" data-valoracion="{{ (valoracion and valoracion.megusta == true) ? 1 : 0 }}">
                        <img src="{{ asset('assets/images/pulgar-hacia-arriba-simbolo-de-la-mano.png') }}" alt="">
                    </button>
                </div>
                <div class ="options2">
                    <div>
                                    <a href="{{path('donar_proyecto',{'id':proyecto.id})}}">Donar</a>
                                </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <button id="colaborar-btn" data-proyectoid="{{ proyecto.id }}">Colaborar</button>
                    {% endif %}
                    <div>{{proyecto.getRecaudado()}}€</div>
                </div>
            </div>

            <div>
                {{proyecto.fechaCreacion|date('d/m/Y')}}
            </div>
            
            <div class="steps ">
                {# El for recorre el array que devuelve la funcion getLatestSeguimiento #}
                {% for seguimiento in proyecto.getLatestSeguimiento() %}
                    <!-- Maquetacion para añadir las situaciones de un proyecto falta añadir el bucle For -->
                    <div class="step"><span class="arrowB"></span>{{ seguimiento.situacion }}<span class="arrow"></span></div>
                {% endfor %}
            </div>
            <div>
                {{proyecto.descripcion}}
            </div>
            <div class ="allcolaboradores">
                <div>
                    <h1>colaboradores</h1>
                    {% for colaborador in proyecto.colaboradores%}
                        {% if colaborador.estado == 'aceptado' %}
                        <div class = "colaborador">
                            <div>
                                <img src="{{ asset(colaborador.usuario.img) }}" alt="">
                            </div>
                            <div>
                                <h2>
                                    <a href="{{path('usuario_perfil',{'id':colaborador.usuario.id})}}">{{ colaborador.usuario.nombre }}</a>
                                </h2>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="test">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <h1>Comenta que te parece el proyecto </h1>
                    <div class = "comm">
                            <div>
                                <img src="{{ asset(app.user.img) }}" alt="">
                            </div>
                            {{ render(controller('App\\Controller\\CommentController::Comentar', { 'id': proyecto.id })) }}
                        </div>
                {% else %}
                    <h3> <a href="{{ path('login') }}">Inicia sesion</a> para comentar los proyectos</h3>
                {% endif %}
                    {% for comentario in proyecto.comentarios %}

                        <div id="comentario-{{ comentario.id }}" class="comm">

                            <div>
                                <img src="{{ asset(comentario.autor.img) }}" alt="">
                            </div>
                            <div>
                                <div>
                                    {{comentario.autor.nombre}}
                                </div>
                                <div>
                                    <p> {{comentario.contenido}}</p>
                                </div>
                            </div> 

                        </div>
                        <div>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="responder">Responder</div>
                                <div class ="respuesta">
                                    {{ render(controller('App\\Controller\\CommentController::responder', { 'id': comentario.id})) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="respuestas collapsible" data-limit="3">
                            {% for respuesta in comentario.respuestas %}
                                <div class="collapsible-element">
                                    <div id="triangulo">
                                    </div>
                                    <div class="comm res">
                                        <div>
                                            <img src="{{ asset(respuesta.autor.img) }}" alt="">
                                        </div>
                                        <div>
                                            <div>
                                                {{respuesta.autor.nombre}}
                                            </div>
                                            <div>
                                                <p> {{respuesta.contenido}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if comentario.respuestas|length > 3 %}
                                <button class="vermas-btn">Ver más</button>
                            {% endif %}
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_especifico %}
        <script src="{{ asset('/assets/js/jquery-ui.min.js') }}"></script>

    <script src="{{ asset('assets/js/proyecto.js') }}"></script>
    <script src="{{ asset('assets/js/emojionearea.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".emojis").emojioneArea({

            });
        });
    </script>
{% endblock %}
