{% extends 'base.html.twig' %}

{% block contenido %}
    <div class ="pago">
        <div>
            <div class ="promocion">
                <div>
                    <div>
                        <img src="{{ asset('assets/images/starCobre.png') }}" alt="estrella color cobre">
                    </div>
                    <div>
                        <h3> Promocion Cobre </h3>
                        <p>Tu proyecto saldra por encima de otros </p>
                        <h1>10€ /mes</h1>
                    </div>
                    
                </div>
                <div>
                    <div>
                        <img src="{{ asset('assets/images/starPlata.png') }}" alt="estrella color plata">
                    </div>
                    <div>
                        <h3> Promocion Plata </h3>
                        <p>Tu proyecto saldra entre los primeros </p>
                        <h1>20€ /mes</h1>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="{{ asset('assets/images/starOro.png') }}" alt="estrella color oro">
                    </div>
                    <div>
                        <h3> Promocion Premiun </h3>
                        <p>Tu proyecto saldra de los primeros </p>
                        <h1>30€ /mes</h1>
                    </div>
                </div>
            </div>
            <div>
                {{ form_start(form, {attr: {id: form.vars.id,action:path('premium_payment'),method:'post'}}) }}

                <div class="form-group">
                    <label for="card-element">
                        Introduce tu tarjeta de credito
                    </label>
                    <div id="card-element" class="form-control"></div>
                    <div id="card-errors" class="help-block" role="alert"></div>
                </div>
                {{ form_widget(form.token) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_especifico %}
    <script type="text/javascript">
        var form = document.getElementById('{{ form.vars.id }}');
        var errors = document.getElementById('card-errors');
        var stripe = Stripe('{{ stripe_public_key }}');
        var elements = stripe.elements();
        var card = elements.create('card');

        card.mount('#card-element');
        card.addEventListener('change', function (event) {
            if (event.error) {
                errors.textContent = event.error.message;
                form.classList.add('has-error');
            } else {
                errors.textContent = '';
                form.classList.remove('has-error');
            }
        });

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    errors.textContent = result.error.message;
                    form.classList.add('has-error');
                } else {
                    document.getElementById('{{ form.children.token.vars.id }}').setAttribute('value', result.token.id);
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}
