{% block html %}
    <!DOCTYPE html>
    <html>
        <head>
            {% block head %}
                {% block meta %}
                    <meta charset="utf-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                {% endblock %}
                <title></title>
                {% block css %}
                    {% block stylesheets %}
                        <link href="{{ asset('/assets/style/index.css') }}" type="text/css" rel="stylesheet" />
                    {% endblock %}
                {% endblock %}
            {% endblock %}
        </head>
        <body>
            {% block body %}
                <div><!-- envoltorio general del body -->
                    <div><!-- contenedor general del body -->
                        {% block contenedor %} <!-- bloque general de todo el body -->
                            <header id="header" class=""><!-- Envoltorio del header -->
                                <div class=""><!-- Header -->
                                    {% block header %}<!-- bloque del header contenedor de los hijos -->
                                        <div><!-- hijo situado en la izquierda -->
                                            {% block header_izquierda %}

                                            {% endblock %}	
                                        </div>
                                        <div><!-- hijo situado a la derecha -->
                                            {% block header_derecha %}
                                                <nav>
                                                    <ul>
                                                        {% block nav %}<!-- items de la barra de navegacion -->
                                                            <li><a href="" title=""></a>Inicio</li>
                                                            <li><a href="{{ path('registrarse') }}" title="">Crear Cuenta</a></li>
                                                            <li><a href="{{ path('login') }}" title="">Iniciar Sesion</a></li>
                                                            <li><a href="#" title="">Perfil</a></li>
                                                        {% endblock %}<!-- fin bloque "nav"-->
                                                    </ul>
                                                </nav>
                                            {% endblock %}	<!-- fin bloque "header_derecha"-->
                                        </div><!-- fin bloque contenedor del header -->
                                    {% endblock %} <!-- fin del bloque "header"-->
                                </div>
                            </header><!-- fin envoltorio header -->
                            <div>
                                <div>
                                    {% block contenido %}<!-- bloque que heredarán en el que aparecerá el contenido de cada página -->
                                        {# Silence is golden... #}
                                    {% endblock %}
                                </div>
                            </div>
                            <footer id="footer"> <!-- envoltorio del footer -->
                                <div><!-- contenedor de hijos del footer -->
                                    {% block footer %}
                                        <div><!-- hijo situado a la izquierda -->
                                            {% block footer_izquierda %}

                                            {% endblock %}	
                                        </div>
                                        <div><!-- hijo situado a la centro -->
                                            {% block footer_central %}
                                                <ul>
                                                    <li>Copyright 2016</li>
                                                    <li><a href="">Avís Legal</a></li>
                                                    <li><a href="">Cookies</a></li>
                                                    <li><a href="">Privacitat</a></li>
                                                </ul>
                                            {% endblock %}
                                        </div>
                                        <div><!-- hijo situado en el derecha -->
                                            {% block footer_derecha %}
                                                <ul>
                                                    <li><a href=""><img src="{{ asset('assets/images/facebook.png') }}" alt=""></a></li>
                                                    <li><a href=""><img src="{{ asset('assets/images/instagram.png') }}" alt=""></a></li>
                                                    <li><a href=""><img src="{{ asset('assets/images/linkedin.png') }}" alt=""></a></li>
                                                    <li><a href=""><img src="{{ asset('assets/images/twitter.png') }}" alt=""></a></li>
                                                </ul>
                                            {% endblock %}
                                        </div>
                                    {% endblock %} <!-- fin bloque "footer"-->
                                </div><!-- fin contenedor hijos footer -->
                            </footer><!-- fin envoltorio footer -->
                        {% endblock %}
                    </div>
                </div>
                {% block js %}<!-- bloque de archivos javascript -->
                    {% block js_comun %}<!-- js comun en todas las páginas -->

                        

                    {% endblock %}
                    {% block js_especifico %}<!-- js especifico necesario en una página concreta para optimizar la carga -->
                        <script src="{{ asset('/assets/js/script.js') }}"></script>
                    {% endblock %}
                {% endblock %}
            {% endblock %}<!-- fin bloque "body" -->
        </body>
    </html>
{% endblock %}